@import "tailwindcss";

@theme {
    --color-primary-light-50: #ffffff;
    --color-primary-light-100: #ffffff;
    --color-primary-light-200: #ffffff;
    --color-primary-light-300: #ffffff;
    --color-primary-light-400: #ffffff;
    --color-primary-light-500: #f1f1f1;
    --color-primary-light-600: #d6d6d6;
    --color-primary-light-700: #bababa;
    --color-primary-light-800: #9f9f9f;
    --color-primary-light-900: #848484;

    --color-primary-dark-50: #6f7682;
    --color-primary-dark-100: #585f6b;
    --color-primary-dark-200: #414954;
    --color-primary-dark-300: #2a323d;
    --color-primary-dark-400: #131b26;
    --color-primary-dark-500: #070e17;
    --color-primary-dark-600: #050b11;
    --color-primary-dark-700: #04070c;
    --color-primary-dark-800: #020406;
    --color-primary-dark-900: #000000;
}